<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<head>
    <title>Outfit Selection Page</title>
    <style>
        .color_box {
            height: 30px;
            width: 30px;
            border-style: solid;
            border-color: black;
        }

        .type_icon {
            height: 40px;
            width: 40px;
        }

        #loading_overlay {
            /* Sit on top of the page content */
            position: fixed;
            /* Hidden by default */
            display: show;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* Black background with opacity */
            background-color: rgba(0, 0, 0, 0.5);
            /* Specify a stack order in case you're using a different order for other elements */
            z-index: 2;
        }
    </style>
</head>

<body ng-app="outfitPage">
    <div ng-controller="outfitGenerator">
        <div class="d-flex justify-content-center bg-dark text-white pt-3 pb-3 ps-5">
            <h1>Outfit Selector</h1>
        </div>

        <div class="d-flex m-0">
            <div class="row w-100">
                <div class="d-flex m-2 col border" id="outfit_form">
                    <div class="justify-content-center col">
                        <div class="row container w-50 mx-auto mb-3 form-check form-switch">
                            <div class="row m-2">
                                <div class="col">
                                    <label for="given_color">
                                        <h4>Color:</h4>
                                    </label>
                                    <input type="color" id="given_color" value="#000000" ng-disabled="randomColor"
                                        ng-model="color">
                                </div>
                                <div class="col">
                                    <label class="form-check-label">Random Color?</label>
                                    <input class="form-check-input m-1" type="checkbox" ng-model="randomColor">
                                </div>
                            </div>
                        </div>

                        <div class="row container w-50 mx-auto mb-3" id="color_scheme_picker">
                            <h4>Color Schemes:</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="scheme_type" id="monochrome"
                                    ng-model="selectedMode" value="monochrome " checked>
                                <label class="form-check-label" for="monochrome">
                                    Monochrome
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="scheme_type" id="monochrome_dark"
                                    ng-model="selectedMode" value="monochrome-dark">
                                <label class="form-check-label" for="monochrome_dark">
                                    Monochrome Dark
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="scheme_type" id="monochrome_light"
                                    ng-model="selectedMode" value="monochrome-light">
                                <label class="form-check-label" for="monochrome_light">
                                    Monochrome Light
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="scheme_type" id="analogic"
                                    ng-model="selectedMode" value="analogic">
                                <label class="form-check-label" for="analogic">
                                    Analogic
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="scheme_type" id="complement"
                                    ng-model="selectedMode" value="complement">
                                <label class="form-check-label" for="complement">
                                    Complement
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="scheme_type" id="analogic_complement"
                                    ng-model="selectedMode" value="analogic-complement">
                                <label class="form-check-label" for="analogic_complement">
                                    Analogic Complement
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="scheme_type" id="triad"
                                    ng-model="selectedMode" value="triad">
                                <label class="form-check-label" for="triad">
                                    Triad
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="scheme_type" id="quad"
                                    ng-model="selectedMode" value="quad">
                                <label class="form-check-label" for="quad">
                                    Quad
                                </label>
                            </div>
                        </div>

                        <div class="row container w-50 mx-auto mb-3" id="type_selector">
                            <label for="outfit_type">
                                <h4>Outfit Type:</h4>
                            </label>
                            <select name="outfit_type" id="outfit_type_selector">
                                <option th:each="outfit_type : ${outfit_types}" th:text="${outfit_type.name}"
                                    th:value="${outfit_type.getUUID()}" th:attr="layers=|${outfit_type.layers}|">
                                </option>
                            </select>
                        </div>

                        <div class="row container w-100 mx-auto mb-3">
                            <button type="button" class="btn btn-dark" ng-click="onSubmitClick(selectedMode)">
                                <h1>Generate outfit</h1>
                            </button>
                        </div>
                    </div>


                </div>
                <div class="col">
                    <p ng-bind="outfit_result"></p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Layer</th>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Primary Color</th>
                                <th scope="col">Secondary Colors</th>
                                <th scope="col">Pattern</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Last Date Worn</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in clothes">
                            <tr>
                                <td>{{item.layer}}</td>
                                <th>{{item.name}}</th>
                                <td>
                                    <img class="type_icon" data-bs-toggle="collapse" aria-expanded="false"
                                        src="/icons/{{item.type.name | lowercase}}.svg"
                                        data-bs-target="#type_collapsible{{$index}}" ,
                                        aria-controls="type_collapsible{{$index}}">
                                    <div class="collapse w-75 m-2" id="type_collapsible{{$index}}">
                                        <div class="card card-body form-check form-switch">
                                            <h6>{{item.type.name}}</h6>
                                            <div>
                                                <label class="form-check-label" for="bottom{{$index}}">Bottom?</label>
                                                <input class="form-check-input m-1" id="bottom{{$index}}"
                                                    type="checkbox" disabled="disabled" ng-checked="item.type.bottom">
                                            </div>
                                            <div>
                                                <label class="form-check-label" for="hooded{{$index}}">Hooded?</label>
                                                <input class="form-check-input m-1" id="hooded{{$index}}"
                                                    type="checkbox" disabled="disabled" ng-checked="item.type.hooded">
                                            </div>
                                            <div>
                                                <label class="form-check-label" for="long_sleeve{{$index}}">Long
                                                    Sleeve?</label>
                                                <input class="form-check-input m-1" id="long_sleeve{{$index}}"
                                                    type="checkbox" disabled="disabled"
                                                    ng-checked="item.type.longSleeve">
                                            </div>
                                            <div>
                                                <label class="form-check-label"
                                                    for="buttoned{{$index}}">Buttoned?</label>
                                                <input class="form-check-input m-1" id="buttoned{{$index}}"
                                                    type="checkbox" disabled="disabled" ng-checked="item.type.buttoned">
                                            </div>
                                            <div>
                                                <label class="form-check-label"
                                                    for="zippered{{$index}}">Zippered?</label>
                                                <input class="form-check-input m-1" id="zippered{{$index}}"
                                                    type="checkbox" disabled="disabled" ng-checked="item.type.zippered">
                                            </div>
                                            <div>
                                                <label class="form-check-label"
                                                    for="collared{{$index}}">Collared?</label>
                                                <input class="form-check-input m-1" id="collared{{$index}}"
                                                    type="checkbox" disabled="disabled" ng-checked="item.type.collared">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="color_box m-1" ng-style="{'background-color': '{{item.color.hex}}'}"
                                        title="{{item.color.name}}" ng-click="copyToClipboard(item.color.hex)">
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="secondary_color in item.secondaryColors">
                                        <div class="color_box m-1"
                                            ng-style="{'background-color': '{{secondary_color.hex}}'}"
                                            title="{{secondary_color.name}}"
                                            ng-click="copyToClipboard(secondary_color.hex)">
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.pattern.name}}</td>
                                <td>{{item.brand.name}}</td>
                                <td>{{item.lastDateWorn | date:"M/dd/yyyy"}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex" ng-bind-html="color_scheme_result">
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center w-100 h-100" id="loading_overlay"
            ng-show="showLoading">
            <div class="d-flex spinner-border text-light" style="width: 5rem; height: 5rem;" role="status">
            </div>
        </div>
    </div>
</body>

<script>
    var app = angular.module("outfitPage", []);

    app.controller("outfitGenerator", function ($scope, $http, $window, $compile, $sce) {
        $scope.randomColor = true;
        $scope.showLoading = false;

        $scope.onSubmitClick = function () {
            if ($scope.color == null && !$scope.randomColor) {
                $window.alert("Please choose a color or select random generation!")
                return;
            }

            var color;
            var colorScheme;

            if ($scope.randomColor) {
                color = Math.floor(Math.random() * 16777215).toString(16);
            } else {
                color = $scope.color.substring(1);
            }

            const div = document.getElementById("outfit_type_selector");
            const uuid = div.options[div.selectedIndex].value;
            const layers = div.options[div.selectedIndex].getAttribute("layers");

            // Show loading overlay
            $scope.showLoading = true;
            $http.get('https://www.thecolorapi.com/scheme?hex=' + color + '&mode=' + $scope.selectedMode + '&count=' + layers).then(function (schemeResult) {
                // Create request body
                const body = {
                    outfit_type_uuid: uuid,
                    colors: schemeResult.data.colors
                }
                const json = JSON.stringify(body);

                $http.post('/api/getoutfit', json).then(function (clothesResult) {
                    $scope.color_scheme_result = $sce.trustAsHtml('<image src=\"' + schemeResult.data.image.bare + '\">');
                    $scope.clothes = clothesResult.data;

                    $scope.showLoading = false;
                }, function () {
                    $window.alert("Error happened when getting outfit!")
                })
            }, function () {
                $window.alert("Error happened when getting color scheme!")
            });
        }

        $scope.copyToClipboard = function (copyText) {
            // Copy the text inside the text field 
            navigator.clipboard.writeText(copyText);

            // Alert the copied text 
            alert(" Copied: " + copyText);
        }
    });
</script>

</html>